.hero {
    
    &__slider {
    
        .slider-item {
            
            h2 {
                @include hero-text;
                font-size: 40px;
                margin-bottom: 30px;
            }

            p {
                @include hero-text;
                font-size: 16px; 
                letter-spacing: 0.3em; 
                max-width: 450px;
            }
        }
    }
}

.slick-dots {
    right: 25px;

}