.hero {
    
    &__slider {
    
        .slider-item {
            
            h2 {
                @include hero-text;
                font-size: 80px;
            }

            p {
                @include hero-text;
                font-size: 18px;  
                max-width: fit-content;
            }
        }
        
    }

    .slick-dots {
        right: 52px;
    
        & li { 
    
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}

